# machine learning
keras
tensorflow-gpu
#tensorflow
sklearn
opencv-python

# plot, testing and stuff
matplotlib
pydot
graphviz
pytest
decorator
retry
h5py
googledrivedownloader

# tools
#-e git+https://github.com/emasa/MMdnn.git@master#egg=mmdnn
#cognitive_face==1.3.1